extends layout
block content
	include ./includes/navigation.jade
	+navi('登陆')
	section.main
		div.login-area
			div.input-container
				h1.login-title Login
				label.account-label
					input.login-account.hover-scale(type="text" placeholder="Account")
				label.password-label
					input.login-password.hover-scale(type="password" placeholder="Password")
				.login-btn-container
					button.as-btn.login-submit(disabled="disabled") 登陆
	script(src="/javascripts/jquery.min.js" type="text/javascript")
	script(src="/javascripts/typescript.min.js" type="text/javascript")
	script
		:typescript
			exec.login();
				